[submodule "serverpack/mods/bluemap"]
	path = serverpack/mods/bluemap
	url = https://github.com/BlueMap-Minecraft/BlueMap
[submodule "serverpack/mods/prometheus-exporter"]
	path = serverpack/mods/prometheus-exporter
	url = https://github.com/cpburnz/minecraft-prometheus-exporter
