### IMPORTANT
!overrides/

### Curseforge & Minecraft
.curseclient
config/
defaultconfigs/
logs/
mods/
resourcepacks/
saves/
downloads/
minecraftinstance.json

### PAX
pax
pax.exe
libssl*.dll
libcrypto*.dll
cacert.pem

### Modpack
.out/